@font-face {
  font-family: "notoSansJP-Regular";
  src: url("public/fonts/NotoSansJP-Regular.ttf") format("truetype");
}

body{
  background-color:black;
  color: white;
  font-family: "notoSansJP-Regular";
  line-height: 0px;
  font-size:clamp(0px, 2.85vmin, 2.9vh);
}

main {
  margin: 8px;
}

.flex {
  display:flex;
  flex-wrap: wrap;
  column-gap: 10px;
}

.flex-right {
  display:flex;
  flex-wrap: wrap;
  column-gap: 10px;
  justify-content: flex-end;
  align-items: baseline;
}

.border {
  border-bottom: 8px solid white;
  padding-bottom: 10px;
}

.right {
  margin-left: auto;
}

.margin {
  margin-top:20px;
}

.margin10 {
  margin-top:10px;
}

.top {
  margin-top: 0.25em;
}

.now-time {
  align-items: center;
  margin-bottom: 0.3em;
  margin-right: 0.25em;
  font-size:clamp(0px, 4vmin, 4vh);
}

.display-none {
  display:none;
}

.correction-line {
  text-decoration: line-through;
  text-decoration-color: #c73339;
  text-decoration-style: double;
}

.black {
  color: black;
}

.white {
  color:white;
}

.pink {
  color: pink;
}

.red {
  color: red;
}

.yellow {
  color: rgb(255, 230, 0);
}

.green {
  color: green;
}

.blue {
  color: rgb(0, 125, 255);
}

.orange {
  color: orange;
}

.purple {
  color: rgb(210, 0, 240);
}