@font-face {
  font-family: "notoSansJP-Regular";
  src: url("/fonts/NotoSansJP-Regular.ttf") format("truetype");
}

:root {
  --font-size:clamp(0px, 2.85vmin, 2.9vh);
}

body {
  background-color: black;
  color: white;
  font-family: "notoSansJP-Regular";
  line-height: 0px;
  font-size: var(--font-size);
}

main {
  margin: 8px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
}

.flex-right {
  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
  justify-content: flex-end;
  align-items: baseline;
}

.direction-name {
  font-size:7vmin;
}

.border {
  display: block;
  border: 4px solid #ffffff;
  width: 100%;
  margin: 10px 0;
}


.right {
  margin-left: auto;
}

.margin {
  margin-top: 20px;
}

.margin10 {
  margin-top: 10px;
}

.top {
  margin-top: 0.25em;
}

.now-time {
  align-items: center;
  margin-bottom: 0.3em;
  margin-right: 0.25em;
  font-size: clamp(0px, 4vmin, 4vh);
}

.display-none {
  display: none;
}

.correction-line {
  text-decoration: line-through;
  text-decoration-color: #c73339;
  text-decoration-style: double;
}

:root {
  --footer-height:20px;
  --footer-font-size:clamp(0px, 4vmin, 2.9vh);
}

footer {
  position: absolute;
  top:calc(99% - var(--footer-height) - var(--footer-font-size) * 2);
  right: 3%;
}

footer div {
  font-size: var(--footer-font-size);
}

.black {
  color: black;
}

.white {
  color: white;
}

.pink {
  color: pink;
}

.red {
  color: red;
}

.yellow {
  color: rgb(255, 230, 0);
}

.green {
  color: green;
}

.blue {
  color: rgb(0, 125, 255);
}

.orange {
  color: orange;
}

.purple {
  color: rgb(210, 0, 240);
}